name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.rrr)
trigger:
  batch: false
  tags:
    include:
      - '*'
  branches:
    include:
      - 'v4-dev'
  
pool:
  vmImage: 'ubuntu-18.04'

steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - script: npm install
    displayName: Install node modules
  - script: npm run lint
    displayName: Lint files
  - script: npm run unit
    displayName: Run unit tests
  - script: npm run integration
    displayName: Run integration tests
  - script: ./.azure-pipelines/scripts/version-bump-to-release.sh
    env:
        TAG: 4.0.0
        GHTOKEN: $(GHTOKEN)
    displayName: Check package.json version matches release